body{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
width:100%;
}

*{margin: 0; padding: 1px; border: border-box;
   font-family: "Times New Roman", Times, serif;}
    .carousel-inner img {
       width: 140vh;
       height: 60vh;
     }
.carousel{
  width: 140vh;
  height: 60vh;
}

}
.container{
  float: left;
}
#foots{

}
